
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Comfortaa";
  box-sizing: border-box;
}

.navbar {
  position: absolute;
  background-color: transparent;
  width: 100%;
  padding: 30px 0;
  top: 0;
  z-index: 999;
  transition: 0.3s linear;
}

.inner-width {
  margin: auto;
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-around;
}

.navbar-menu a {
  font-size: 15px;
  font-weight: 700;
  transition: 0.2s linear;
  line-height: 15.6px;
}

.left-nav {
  width: 50%;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left-nav a {
  color: #000000;
}

.right-nav {
  width: 50%;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.right-nav a {
  color: #ffffff;
}

#contact-btn {
  color: #302ea7;
}

.navbar-menu a:hover {
  border-bottom: 2px solid #302ea7;
}
.logo {
  width: 92px;
  height: 92px;
  background-image: url(../images/logo.png);
  background-size: contain;
}

.logo a:hover {
  border-bottom: 0px;
}

/* .menu-toggler{
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 999;
  display: none;
}
.menu-toggler span{
  display: block;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  position: relative;
  transition: .3s linear;
}
.sticky{
  background-color: #fff;
  padding: 18px 0;
}
.sticky .logo{
  background-image: url(../images/black-logo.png);
}
.sticky .navbar-menu a{
  color: #111;
}
.sticky .menu-toggler span{
  background-color: #111;
} */

#home {
  height: 100vh;
  min-height: 25rem;
  background-size: cover;
  display: flex;
  border: 1px solid black;
}


.right-bg {
  width: 50%;
  height: 100%;
  background: url(../images/group-blue.svg) no-repeat center;
}
.left-bg {
  width: 50%;
  height: 100%;
  background-color: #e5e5e5;
  position: relative;
}

.left-div-inner-width {
  margin: auto;
  margin-top: 13rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  height: 40%;
  justify-content: space-around;
}

.title.is-1 {
  font-size: 70px;
}

#left-bg-btn {
  color: #302ea7;
  background-color: #fec144;
  font-family: Comfortaa;
  font-weight: 700;
  font-size: 12px;
  height: 3rem;
  width: 10rem;
}

.man-left-bg {
  height: 15rem;
  position: absolute;
  left: 60%;
  bottom: 10%;
}

/* @media screen and (max-width: 700px){
  .menu-toggler{
    display: block;
  }
  .navbar-menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #353b48;
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 80px 50px;
    transition: .3s linear;
  }
  .navbar-menu a{
    display: block;
    font-size: 30px;
    margin: 30px 0;
  }
  .sticky .navbar-menu{
    background-color: #f1f1f1;
  }
  
  .navbar-menu.active{
    right: 0;
    display: block;
  }
  .menu-toggler.active span:nth-child(1){
    transform: rotate(-45deg);
    top: 4px;
  }
  .menu-toggler.active span:nth-child(2){
    opacity: 0;
  }
  .menu-toggler.active span:nth-child(3){
    transform: rotate(45deg);
    bottom: 14px;
  }
} */




#features{
  /* border: 1px solid black; */
}

#features .heading-bg{
  height: 12vh;
  /* min-height: 7rem; */
  /* border: 1px solid black; */
  background-image: url("../images/FEATURES.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.heading-text{
  font-size: 4vh;
  /* border: 1px solid black; */
}

.primary-font-style{
  font-family: Comfortaa;
}

.bold-font{
  font-weight: 700;
  color: #000;
}
.feature-container{
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  align-items: center;
}

.feature-img{
  height: 8rem;
  width: 8rem;
  margin: 2rem;
  /* border: 1px solid black; */
}

.feature-container .title{
  margin-bottom: 2rem;
  font-weight: 700;
  font-family: Poppins;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.24px;
}

#f1{
  background-color: rgba(67, 120, 219, 0.16);
}

#f2{
  background-color: rgba(240, 167, 20, 0.16);
}

#f3{
  background-color: rgba(243, 85, 85, 0.16);
}

#f4{
  background-color: rgba(40, 161, 100, 0.16);
}

#f5{
  background-color: rgba(139, 175, 156, 0.16);
}

#f6{
  background-color:rgba(85, 23, 123, 0.16);
}

#f1 .title{
  color: #405DB5;
}

#f2 .title{
  color: #F0A714;
}

#f3 .title{
  color: #FAB3F3;
}

#f4 .title{
  color: #228955;
}

#f5 .title{
  color:#1C5575;
}

#f6 .title{
  color:#610E88;
}

#platform{
  /* border: 1px solid black; */
}

#platform .heading-bg{
  height: 12vh;
  /* min-height: 7rem; */
  /* border: 1px solid black; */
  background-image: url("../images/A\ PLATFORM\ FOR\ EVERYONE.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#platform-carousel .heading-bg{
  height: 12vh;
  /* min-height: 7rem; */
  /* border: 1px solid black; */
  background-image: url("../images/A\ PLATFORM\ FOR\ EVERYONE.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.platform-text-container{
  width: 13rem;
  margin:1rem;
}

.platform{
  display: flex;
  justify-content: center;
}
.platform-container{
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  align-items: center;
  background-color: #F0F0F3;
  width: 17rem;
  margin: 1rem;
}


#platform-carousel{
  display: none;
}

.slider-item{
  margin: 1rem;
}

.card{
  background-color:#F0F0F3;
  border-radius: 16px;
}

.card-image{
  display: flex;
  justify-content: center;
}
.carousel-img{
  height: 12rem;
  width: 12rem;
}

#projects{
  border: 1px solid black;
}

#contact{
  border: 1px solid black;
}

.card-bg-color{
  background-color:#F0F0F3;
}

@media screen and (max-width:1000px){

  #platform-carousel{
    display: block;
  }

  #platform{
    display: none;
  }
}

/* @media screen and (max-width: 700px){
  .menu-toggler{
    display: block;
  }

  .navbar-menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #353b48;
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 80px 50px;
    transition: .3s linear;
  }


  .navbar-menu a{
    display: block;
    font-size: 30px;
    margin: 30px 0;
  }

  .sticky .navbar-menu{
    background-color: #f1f1f1;
  }
  
  .navbar-menu.active{
    right: 0;
    display: block;
  }

  .menu-toggler.active span:nth-child(1){
    transform: rotate(-45deg);
    top: 4px;
  }

  .menu-toggler.active span:nth-child(2){
    opacity: 0;
  }

  .menu-toggler.active span:nth-child(3){
    transform: rotate(45deg);
    bottom: 14px;
  }
} */
