
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Comfortaa";
  box-sizing: border-box;
}

.navbar {
  position: absolute;
  background-color: transparent;
  width: 100%;
  padding: 30px 0;
  top: 0;
  z-index: 999;
  transition: 0.3s linear;
}

.inner-width {
  margin: auto;
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-around;
}

.navbar-menu a {
  font-size: 15px;
  font-weight: 700;
  transition: 0.2s linear;
  line-height: 15.6px;
}

.left-nav {
  width: 50%;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left-nav a {
  color: #000000;
}

.right-nav {
  width: 50%;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.right-nav a {
  color: #ffffff;
}

#contact-btn {
  color: #302ea7;
}

.navbar-menu a:hover {
  border-bottom: 2px solid #302ea7;
}

.navbar-menu{
  justify-content: space-around !important;
  align-items: center;
}

.navbar-start{
  justify-content: space-around !important;
  margin-right: 0;
}

.navbar-end{
  margin-left: 0 !important;
}

.white{
  color: #ffffff;
}

.navbar-burger{
  margin-left: 0 !important;
}

.logo {
  width: 90px;
  height: 90px;
}

.center{
  position: absolute;
  left: 50%;
  transform: translate(-50%,10%);
  z-index: 999;
}

.logo a:hover {
  border-bottom: 0px;
}



#header {
  height: 100vh;
  min-height: 25rem;
  background-size: cover;
  display: flex;
  border: 1px solid black;
}


.right-bg {
  width: 50%;
  height: 100%;
  background: url(../images/group-blue.svg) no-repeat center;
}
.left-bg {
  width: 50%;
  height: 100%;
  position: relative;
}

.left-div-inner-width {
  margin: auto;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 40%;
  justify-content: space-around;
}

.title.is-1 {
  font-size: 60px;
}

#left-bg-btn {
  color: #302ea7;
  background-color: #fec144;
  font-family: Comfortaa;
  font-weight: 700;
  font-size: 12px;
  height: 3rem;
  width: 10rem;
}

.man-left-bg {
  height: 15rem;
  position: absolute;
  left: 65%;
  bottom: 20%;
}

.navbar{
  padding : 0;
  height: 7rem;
  z-index: 0;
}

#navbar-right{
  width: 50%;
  background-color: #302EA7;
  margin-left: auto;
  height: 7rem;
  z-index: 0;
}


.navbar-item{
  margin-left: 2rem;
  margin-right: 2rem;
}

.navbar-item:hover{
  background-color: transparent !important;
}


#features{
  /* border: 1px solid black; */
  display: none;
}

#features-carousel{
  display: block;
}

#features .heading-bg{
  height: 12vh;
  /* min-height: 7rem; */
  /* border: 1px solid black; */
  background-image: url("../images/FEATURES.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#features-carousel .heading-bg{
  height: 12vh;
  /* min-height: 7rem; */
  /* border: 1px solid black; */
  background-image: url("../images/FEATURES.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.heading-text{
  font-size: 4vh;
  /* border: 1px solid black; */
}

.primary-font-style{
  font-family: Comfortaa;
}

.bold-font{
  font-weight: 700;
  color: #000;
}
.feature-container{
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  align-items: center;
}

.feature-img{
  height: 8rem;
  width: 8rem;
  margin: 2rem;
  /* border: 1px solid black; */
}

.feature-img-carousel{
  height: 9rem;
  width: 9rem;
  margin: 3rem;
  /* border: 1px solid black; */
}

.feature-container .title{
  margin-bottom: 2rem;
  font-weight: 700;
  font-family: Poppins;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.24px;
}

#car-f1{
  background-color: rgba(67, 120, 219, 0.16);
}

#car-f2{
  background-color: rgba(240, 167, 20, 0.16);
}

#car-f3{
  background-color: rgba(243, 85, 85, 0.16);
}

#car-f4{
  background-color: rgba(40, 161, 100, 0.16);
}

#car-f5{
  background-color: rgba(139, 175, 156, 0.16);
}

#car-f6{
  background-color:rgba(85, 23, 123, 0.16);
}

#car-f1 .title{
  color: #405DB5;
}

#car-f2 .title{
  color: #F0A714;
}

#car-f3 .title{
  color: #FAB3F3;
}

#car-f4 .title{
  color: #228955;
}

#car-f5 .title{
  color:#1C5575;
}

#car-f6 .title{
  color:#610E88;
}

#f1{
  background-color: rgba(67, 120, 219, 0.16);
}

#f2{
  background-color: rgba(240, 167, 20, 0.16);
}

#f3{
  background-color: rgba(243, 85, 85, 0.16);
}

#f4{
  background-color: rgba(40, 161, 100, 0.16);
}

#f5{
  background-color: rgba(139, 175, 156, 0.16);
}

#f6{
  background-color:rgba(85, 23, 123, 0.16);
}

#f1 .title{
  color: #405DB5;
}

#f2 .title{
  color: #F0A714;
}

#f3 .title{
  color: #FAB3F3;
}

#f4 .title{
  color: #228955;
}

#f5 .title{
  color:#1C5575;
}

#f6 .title{
  color:#610E88;
}

#platform{
  /* border: 1px solid black; */
}

#platform .heading-bg{
  height: 12vh;
  /* min-height: 7rem; */
  /* border: 1px solid black; */
  background-image: url("../images/A\ PLATFORM\ FOR\ EVERYONE.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#platform-carousel .heading-bg{
  height: 12vh;
  /* min-height: 7rem; */
  /* border: 1px solid black; */
  background-image: url("../images/A\ PLATFORM\ FOR\ EVERYONE.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.platform-text-container{
  width: 13rem;
  margin:1rem;
}

.platform{
  display: flex;
  justify-content: center;
}


.platform-container{
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  align-items: center;
  background-color: #F0F0F3;
  width: 17rem;
  margin: 1.5rem;
  box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(174, 174, 192, 0.4);
}

.side{
  height: 24rem;
  margin-top: 3rem;
}

.side img{
  height: 6rem;
  width: auto;
  margin:1rem
}

#platform-carousel{
  display: none;
}

.slider-item{
  margin: 1rem;
  width: auto !important;
}

.card{
  background-color:#F0F0F3;
  border-radius: 16px;
}

.card-image{
  display: flex;
  justify-content: center;
}
.carousel-img{
  height: 12rem;
  width: 12rem;
}

#projects{
  /* border: 1px solid black; */
}

.card-bg-color{
  background-color:#F0F0F3;
}

@media screen and (max-width:1023px){

  #platform-carousel{
    display: block;
  }

  #platform{
    display: none;
  }

  #features-carousel{
    display: none;
  }

  #features{
    display: block;
  }

  .horizontal-line{
    display: none;
  }

  .vertical-line{
    display: none;
  }

  .right-bg{
    width: 0;
  }

  .left-bg{
    width: 100%;
  }

  .man-left-bg{
    left: 10%;
    height: 20rem;
    bottom: 0;
  }
}

#projects .heading-bg{
  height: 12vh;
  /* min-height: 7rem; */
  /* border: 1px solid black; */
  background-image: url("../images/PROJECTS.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.projects-container{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects-container img{
  z-index: 1;
}

.project-desc{
  padding: 1.5rem 0;
  margin-top: -5%;
  z-index: 0;
}

#p1{
  background-color: #D6E6FF;
}

#p2{
  background-color: #FEC144;
}

#p3{
  background-color: #F0513E;
}

#p4{
  background-color: #F8C1CE;
}

#contact{
  background-color: #302EA7;
  padding : 0;
}

#contact .columns{
  margin: 0;
  padding: 0;
}

#contact .column{
  padding: 0;
  margin: 0;
  position: relative;
}

.align{
  position: absolute;
}

.left{
  left : 0;
}

.top{
  top:0;
}
.right{
  right: 0;
}

.bottom{
  bottom: 0;
}

.border{
  border: 1px solid white;
}

#content-block-1{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#contact p{
  color: #FFFFFF;
}

.margin-1{
  margin: 0.6rem;
}

#contact-block-2{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#contact-block-2 div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.line-height{
  line-height: 2rem;
}

.width{
  width: 85%;
}

.horizontal-line{
  position: absolute;
  left: 45%;
  margin-top: 1rem;
  height: 50%;
  border: 1px solid #ffffff;
}

.vertical-line{
  position: absolute;
  width: 90%;
  top: -20%;
  border: 1px solid #ffffff;
}

#contact-block-4{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

#social-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social span{
  color: #ffffff;
}

.social div{
  display: flex;
}

.social img{
  height: 90%;
}

.margin-2{
  margin-bottom: 2rem;
}
/* @media screen and (max-width: 700px){
  .menu-toggler{
    display: block;
  }

  .navbar-menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #353b48;
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 80px 50px;
    transition: .3s linear;
  }


  .navbar-menu a{
    display: block;
    font-size: 30px;
    margin: 30px 0;
  }

  .sticky .navbar-menu{
    background-color: #f1f1f1;
  }
  
  .navbar-menu.active{
    right: 0;
    display: block;
  }

  .menu-toggler.active span:nth-child(1){
    transform: rotate(-45deg);
    top: 4px;
  }

  .menu-toggler.active span:nth-child(2){
    opacity: 0;
  }

  .menu-toggler.active span:nth-child(3){
    transform: rotate(45deg);
    bottom: 14px;
  }
} */
